.bg-container {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;

    @media (max-height: 600px) {
        height: 100vh;
    }
}

.play-icon {
    font-size: 3rem;
    color: #07224d; 
    transition: font-size 0.5s, color 0.3s; 
}

.play-icon:hover {
    font-size: 4rem; 
    color: #061131;
}
