/* Set the default cursor style for the element */
.element {
    cursor: default;
  }
  
  /* Change the cursor style to pointer when the element is clicked */
  .element:active {
    cursor: pointer;
  }
  
.bg-testimonial {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 120vh;
    background-image: url(../../../../assets/testimonial2.jpg);

    @media (max-height: 600px) {
        height: 100vh;
    }
}

.shadowEffect:hover{
    box-shadow: 0px 0px 10px 0px #958203;
}
